.body {
    margin: 0;
    font-family: "Work Sans", sans-serif;

    font-size: 14px;
    color: #000000;

    width: 100%;
    height: 100vh;
}
.container{
    max-width: 1218px;
    margin: 0 auto;
}

.header{
    top: 0;
    left: 0;
    right: 0;
    padding: 32px;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    gap: 137px;

}

.logo{
    width: 158px;
    height: 36px;

}
.nav{
    font-size: 16px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.input{
    position: relative;
    display: inline-block;
}
.search_icon{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('../Img/search-outline.svg');
    background-size: 16px 16px;
    pointer-events: none;
}
.input input{
    width: 166px;
    height: 36px;
    padding-right: 30px;
}
.nav_link{
    display: inline-block;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    color: #000000;
}
.nav_link:hover{
    color: rgba(27, 19, 104, 0.98);
}
.Img_Girl{
    width: 1216px;
    height: 600px;
    margin: auto;
    display: block;
    align-items: center;
    position: relative;
}
.search{
    background: #F4F4F5;
    border: none;
    border-radius: 5px;

}
.card{
    width: 500px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius: 12px;
    position: absolute;
    left: 400px;
    top: 480px;
    box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.12);
}
.card_icon{
    width: 97px;
    height: 28px;
    position: absolute;
    background-color: #4B6BFB;
    border-radius: 6px;
    left: 40px;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card_text{
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;

}
.Btn{
    width: 750px;
    height: 100px;
    background-color: #E8E8EA;
    border-radius: 12px;
}
.AdsButton{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.News_Title{
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #181A2A;

}
.posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1216px;
    height: 1504px;


}
.News_Feed{
    margin-top: 80px;
}
.Post{
    display: flex;
    width: 392px;
    height: 488px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: #E8E8EA solid 1px;
    gap: 20px;

}

.post_icon{
    width: 360px;
    height: 240px;
    border-radius: 6px;
    padding: 16px 16px 262px 16px;
}
.title{
    display: flex;
    width: 360px;
    height: 200px;

}
.post_text{
    width: 344px;
    height: 128px;
    padding: 8px 8px 64px 8px;
}
.icon{
    display: flex;
    width: 97px;
    height: 28px;
    border-radius: 6px;
    background-color: rgba(75, 107, 251, 0.05);

}
.view_post{
    display: flex;
    width: 1216px;
    height: 140px;
    justify-content: center;
    align-items: flex-end;
}
.btnShow{
    display: flex;
    width: 142px;
    height: 48px;
    border :rgba(105, 106, 117, 0.3) solid 1px;
    border-radius: 6px;
}
.footer{
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 500px;
    background-color: rgba(246, 246, 247, 1);
    justify-content: space-between;
    align-items: center;
}
.footer_inner{
    display: flex;
    width: 1216px;
    height: 254px;
    margin-top: 64px;

}
.copyright{
    display: flex;
    width: 1216px;
    height: 118px;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 0;
    border-top: 1px solid rgba(220, 221, 223, 1);
}
.copylogo{
    width: 353px;
    height: 54px;
}
.footer_inner{
    display: flex;
    width: 1216px;
}
.about{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    width: 289px;
    height: 236px;
    display: flex;
    flex-direction: column;
    font-weight: 600;

}
.about_inner {
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    color: #696A75;
    margin-top: 12px;
}
    .contact{
        display: flex;
        width: 208px;
        height: 52px;
        flex-direction: column;
    }
.mail{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;

}
.bold{
    font-weight: 600;
}
.thin{
    font-weight: 400;
}